<!DOCTYPE html>
<html><head>
    <meta charset="utf-8" />
    <title>Tabs and Accordions</title>

    <meta name="description" content="tabs and accordions" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="shortcut icon" href="assets/img/favicon.png" type="image/x-icon">

    <!--Basic Styles-->
    <link href="__CSS__/bootstrap.min.css" rel="stylesheet" />
    <link id="bootstrap-rtl-link" href="" rel="stylesheet" />
    <link href="__CSS__/font-awesome.min.css" rel="stylesheet" />
    <link href="__CSS__/weather-icons.min.css" rel="stylesheet" />

    <!--Fonts-->
    <link href="http://fonts.useso.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,400,600,700,300" rel="stylesheet" type="text/css">

    <!--Beyond styles-->
    <link id="beyond-link" href="__CSS__/beyond.min.css" rel="stylesheet" />
    <link href="__CSS__/demo.min.css" rel="stylesheet" />
    <link href="__CSS__/typicons.min.css" rel="stylesheet" />
    <link href="__CSS__/animate.min.css" rel="stylesheet" />
    <link id="skin-link" href="" rel="stylesheet" type="text/css" />

    <!--Skin Script: Place this script in head to load scripts for skins and rtl support-->
    <script src="__JS__/skins.min.js"></script>
</head>
    <body>
        <!-- 头部 -->
        {include file="common/header"}

        <!-- /头部 -->

        <div class="main-container container-fluid">
            <div class="page-container">
                <!-- Page Sidebar -->
                {include file="common/left"}
                <!-- /Page Sidebar -->
                <!-- Page Content -->
                <div class="page-content">
                    <!-- Page Breadcrumb -->
                    <div class="page-breadcrumbs">
                        <ul class="breadcrumb">
                            <li>
                                <a href="#">系统</a>
                            </li>
                            <li class="active">配置管理</li>
                        </ul>
                    </div>
                    <!-- /Page Breadcrumb -->

                    <!-- Page Body -->
                    <div class="page-body">

                        <button type="button" tooltip="添加配置项" class="btn btn-sm btn-azure btn-addon" onClick="javascript:window.location.href = '{:url(\'conf/add\')}'"> <i class="fa fa-plus"></i> {$Think.lang.add}
                        </button>
                        <div class="row">
                            <div class="col-lg-12 col-sm-12 col-xs-12">

                                <div class="widget">
                                    <form class="form-horizontal" role="form" action="" method="post">
                                        <div class="widget-body">

                                            <div class="widget-main ">
                                                <div class="tabbable">
                                                    <ul class="nav nav-tabs tabs-flat" id="myTab11">
                                                        <li class="active">
                                                            <a data-toggle="tab" href="#baseinfo">
                                                                基本信息
                                                            </a>
                                                        </li>
                                                        <li class="">
                                                            <a data-toggle="tab" href="#seoinfo">
                                                                SEO设置
                                                            </a>
                                                        </li>
                                                        <li class="">
                                                            <a data-toggle="tab" href="#attachment">
                                                                SEO设置
                                                            </a>
                                                        </li>
                                                    </ul>
                                                   
                                                    <div class="tab-content tabs-flat">
                                                        <div id="baseinfo" class="tab-pane active">
                                                            {volist name="confs" id="conf"}
                                                            {if condition="$conf.c_type eq 1"}
                                                            <p>
                                                                 1
                                                                {switch name="$conf.d_type" }
                                                                    {case value="1"}
                                                                        <input type="text" name="{$conf.en_name}">
                                                                    {/case}
                                                                    {case value="2"}
                                                                        <input type="text" name="{$conf.en_name}">
                                                                    {/case}
                                                                    {case value="3"}
                                                                        <input type="text" name="{$conf.en_name}">
                                                                    {/case}
                                                                    {case value="4"}
                                                                        <input type="text" name="{$conf.en_name}">
                                                                    {/case}
                                                                    {case value="5"}
                                                                        <input type="text" name="{$conf.en_name}">
                                                                    {/case}
                                                                    {case value="6"}
                                                                        <input type="text" name="{$conf.en_name}">
                                                                    {/case}
                                                                    {default /}默认情况
                                                               {/switch}
                                                            </p>
                                                            {/if}
                                                            {/volist}
                                                        </div>

                                                        <div id="seoinfo" class="tab-pane">
                                                            {volist name="confs" id="conf"}
                                                            {if condition="$conf.c_type eq 2"}
                                                            <p>
                                                           2
                                                            </p>
                                                            {/if}
                                                            {/volist}
                                                        </div>
                                                        <div id="attachment" class="tab-pane">
                                                              {volist name="confs" id="conf"}
                                                            {if condition="$conf.c_type eq 3"}
                                                            <p>
                                                           3
                                                            </p>
                                                            {/if}
                                                            {/volist}
                                                        </div>
                                                    </div>
                                                    
                                                    <div class="form-group">
                                                        <div class="col-sm-offset-2 col-sm-10">
                                                            <button type="submit" class="btn btn-sky">{$Think.lang.save_info}</button>
                                                        </div>
                                                    </div>
                                                </div>

                                            </div>


                                        </div>
                                        <div class="form-group">
                                            <label for="value" class="col-sm-2 control-label no-padding-right"></label>
                                            <div class="col-sm-6">
                                                <input class="form-control" id="username" placeholder="" name="value" value="" required="" type="hidden">
                                            </div>

                                        </div>
                                    </form>
                                </div>

                            </div>
                        </div>



                    </div>
                    <!-- /Page Body -->
                </div>
                <!-- /Page Content -->
            </div>	
        </div>

        <script src="__JS__/jquery-2.0.3.min.js"></script>
    <script src="__JS__/bootstrap.min.js"></script>

    <!--Beyond Scripts-->
    <script src="__JS__/beyond.min.js"></script>

    <!--Page Related Scripts-->
    <!--Google Analytics::Demo Only-->
    <script>
        (function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date(); a = s.createElement(o),
            m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
        })(window, document, 'script', 'http://www.google-analytics.com/analytics.js', 'ga');

        ga('create', 'UA-52103994-1', 'auto');
        ga('send', 'pageview');

    </script>
   


    </body></html>